*{
    margin: 0;
    padding: 0;
}

:root {
    --red: #cf3427;
    --white: #ffffff;
    --offwhite: whitesmoke;
    --wheat: wheat;
    --black: black;
    --chocolate: chocolate;
    --gray : gray;
}

body{
    overflow-x: hidden;
}

header{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    width: 100%;
    height: 100%;
    background-color: var(--offwhite);
    border-bottom: 1px solid rgb(224 206 206);;
}

header .HeaderContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

header .HeaderContainer .logo{
    width: 10%;
}

header .HeaderContainer .logo img{
    width: 100px;
    border-radius: 100%;
    cursor: pointer;
    transition: all ease-in-out 1s;
}


header .HeaderContainer .HeaderLinks{
    width: 70%;
}

/* header .HeaderContainer .HeaderLinks nav{
} */

header .HeaderContainer .HeaderLinks nav ul{
    margin: 0;
    padding: 0;
    text-align: center;
}

header .HeaderContainer .HeaderLinks nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0px 9px;
}

header .HeaderContainer nav ul li a{
    text-decoration: none;
    color: var(--black);
    display: inline-block;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}

header .HeaderContainer nav ul li a{
    text-decoration: none;
    position: relative;
    padding-bottom: 4px; /* The distance between text and underline */
}

header .HeaderContainer nav ul li a::before {
    content: "";
    position: absolute;
    width: 100%;    
    top: 0;
    bottom: 0;
    background-image: linear-gradient(90deg, var(--black), var(--black)); /* underline color */
    background-size: 0 2px; /* vertical size of underline */
    background-repeat: no-repeat;
    background-position: left bottom; /* start position of underline */
    transition: background-size .3s ease-in; /* duration and timing style of animation */
}

header .HeaderContainer nav ul li a:hover::before {
    background-size: 100% 2px;
}

header .HeaderContainer .Profile{
    width: 10%;
}

header .HeaderContainer .Profile img{
    width: 100px;
    border-radius: 100%;
    cursor: pointer;
    transition: all ease-in-out 1s;
    position: relative;
}   

/* header .HeaderContainer .Profile .burger{
    display: none;
}

header .HeaderContainer .Profile .burger .menu{
    display: none;
}

#sidebarmenu{
    display: none;
}

#sidebarmenu ul{
    display: none;
}

#sidebarmenu ul li{
    display: none;
}

#sidebarmenu ul li a{
    display: none;
}

#sidebarmenu ul li a:hover{
    display: none;
} */

@media only screen and (max-width: 1024px) {
    header .HeaderContainer .HeaderLinks{
        display: none;
    }
    
    header .HeaderContainer .Profile form{
        display: none;
    }
    
    header .HeaderContainer .Profile .burger{
        display: block;
        border: none;
        background-color: transparent;
    }

    header .HeaderContainer .Profile .burger .menu{
        display: block;
        width: 30px;
        height: 5px;
        background-color: var(--red);
        margin: 4px 0;
        margin-left: 50%;
    }

    /* #sidebarmenu{
        display: none;
    }

    #sidebarmenu{
        position: sticky;
        top: 94px;
        z-index: 3;
        text-align: center;
        min-width: 200px;
        float: right;
        height: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        background-color: var(--white);
    }
    
    #sidebarmenu ul{
        display: block;
        margin: 0;
        padding: 0;
    }

    #sidebarmenu ul li{
        list-style-type: none;
        display: block;
    }
    
    #sidebarmenu ul li a{
        color: var(--red);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    }

    #sidebarmenu ul li a:hover{
        background-color:  var(--offwhite);
    } */

    header .HeaderContainer .Profile img{
        display: block;
        margin-right: 150px ;
    }   
}

/* Profile page  */

#profile{
    z-index: 2;
    position: absolute;
    top: 101px;
    right: 0;
    transition: all ease-in-out 1s;
    transform: translate(100%,0);
    opacity: 0;
}

#ProfilePage{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-items: center;
    font-family: 'Poppins', sans-serif;
    position: sticky;
}

#ProfilePage .Page{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 100%;
    background-color: var(--red);
    border-radius: 15px;
}

#ProfilePage .Page form ul {
    margin: 0; 
    padding: 0 1rem;
}

#ProfilePage .Page form ul li{
    line-height: 3;
    list-style: none;
    background-color: var(--white);
    width: 100%;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 10px;
}

#ProfilePage .Page form ul li:first-child{
    background-color: transparent;
    width: 50%;
}

#ProfilePage .Page form ul li ul li:first-child{
    background-color: transparent;
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
}

#ProfilePage .Page form ul li ul{
    margin: 0;
    padding: 0;
    /* display: flex;
    flex-wrap: wrap; */
    align-items: center;
}

#ProfilePage .Page form ul li ul li{
    background-color: transparent;
    line-height: 1;
    font-size: 18px;
    width: 100%;
}

#ProfilePage .Page form ul li ul li p{
    /* margin: 0; */
    color: var(--white);
}

#ProfilePage .Page form ul li img{
    width: 100%;
    margin-left: 50%;
    border-radius: 100%;
    height: auto;
}

#ProfilePage .Page form ul li a{
    text-decoration: none;
    display: inline-block;
    color: black;
}

@media only screen and (max-width: 1024px) {

    #profile{
        display: none;
    }

    #ProfilePage{
        display: flex;
        position: sticky;
        justify-content: flex-start;
        align-items: center;
        justify-items: center;
        font-family: 'Poppins', sans-serif;
        width: 100%;
    }

    #ProfilePage .Page{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: var(--red);
        border-radius: 15px;
    }
}

/* section slider */

body{
    overflow-y: hidden;
}

.ResturantSlider{
    z-index: 0;
    background-color: var(--red);
    padding-top: 10px;
    width: 100%;
    height: 100vh;
}

.ResturantSlider .ImagesSlider{
    width: 100%;
    margin: 4% 0;
    height: 600px;
}

.ResturantSlider .ImagesSlider img{
    width: 100%;
    background-size: contain;
    cursor: pointer;
    position: relative;
    height: 500px;
}


button.slick-prev.slick-arrow{
    visibility: visible;
    position: absolute;
    top: 35%;
    left: 10px;
    background-color: transparent;
    color: var(--red);
    font-size: 50px;
    border-radius: 100%;
    z-index: 2;
    border: none;
}

button.slick-next.slick-arrow{
    visibility: visible;
    position: absolute;
    right: 10px;
    bottom: 50%;
    background-color: transparent;
    color: var(--red);
    border: none;
    font-size: 50px;
    border-radius: 100%;
}


@media screen and (max-width: 768px) {
    .ResturantSlider .ImagesSlider{
        width: 100%;
        margin: 45px 0;
        height: auto;
    }
    button.slick-prev.slick-arrow{
        visibility: visible;
        position: absolute;
        top: 40%;
        left: 10px;
        background-color: transparent;
        color: var(--red);
        font-size: 50px;
        border-radius: 100%;
        z-index: 2;
        border: none;
    }
    
    button.slick-next.slick-arrow{
        visibility: visible;
        position: absolute;
        right: 10px;
        bottom: 45%;
        background-color: transparent;
        color: var(--red);
        border: none;
        font-size: 50px;
        border-radius: 100%;
    }
}